.git
**/*.pfx
**/*.p12
**/*.key
.tmp
.vscode
**/node_modules
**/.env
**/.env.*
**/dist
backend/public
**/test-results
**/playwright-report
**/*.log
backend/tests
backend/scripts
frontend/tests
login-desktop.png
login-final.png
database
